p, li, div 	
	{
}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
h1  {
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-weight:bold;}
h2	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-weight:bold;
	font-style:italic;}
h3	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-weight:bold;}
h4	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-weight:bold;}
h5	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	font-weight:bold;
	font-style:italic;}
h6	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	font-weight:bold;}
p.MsoNormal, li.MsoNormal, div.MsoNormal 
	{
	localeRef:mnuNorm;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7 {
	visible:false;
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8 {
	visible:false;
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9 {
	visible:false;
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	font-size:11.0pt;
	font-family:Arial;
	}
p.MsoIndex1, li.MsoIndex1, div.MsoIndex1 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:10.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoIndex2, li.MsoIndex2, div.MsoIndex2 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:20.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoIndex3, li.MsoIndex3, div.MsoIndex3 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:30.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoIndex4, li.MsoIndex4, div.MsoIndex4 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:40.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoIndex5, li.MsoIndex5, div.MsoIndex5 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:50.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoIndex6, li.MsoIndex6, div.MsoIndex6 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:60.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoIndex7, li.MsoIndex7, div.MsoIndex7 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:70.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoIndex8, li.MsoIndex8, div.MsoIndex8
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:80.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoIndex9, li.MsoIndex9, div.MsoIndex9
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.25in;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:10.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:20.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:30.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:40.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:50.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:60.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:70.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:80.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoIndexHeading, li.MsoIndexHeading, div.MsoIndexHeading {
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:bold;}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{
	localeRef:mnuCapt;
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	font-weight:bold;}
p.MsoTof, li.MsoTof, div.MsoTof
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:20.0pt;
	margin-bottom:.0001pt;
	text-indent:-20.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoEnvelopeAddress, li.MsoEnvelopeAddress, div.MsoEnvelopeAddress
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:2.0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Arial;}
p.MsoEnvelopeReturn, li.MsoEnvelopeReturn, div.MsoEnvelopeReturn
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial;
	}
span.MsoFootnoteReference
	{
	visible:false;
	vertical-align:super;}
span.MsoEndnoteReference
	{
	visible:false;
	vertical-align:super;}
p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoToa, li.MsoToa, div.MsoToa
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:10.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoMacroText, li.MsoMacroText, div.MsoMacroText {
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Courier New";}
p.MsoToaHeading, li.MsoToaHeading, div.MsoToaHeading
	{
	visible:false;
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:Arial;
	font-weight:bold;}
p.MsoList, li.MsoList, div.MsoList
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListBullet, li.MsoListBullet, div.MsoListBullet {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoListNumber, li.MsoListNumber, div.MsoListNumber
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoList2, li.MsoList2, div.MsoList2
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoList3, li.MsoList3, div.MsoList3
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.75in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoList4, li.MsoList4, div.MsoList4
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.0in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoList5, li.MsoList5, div.MsoList5
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListBullet2, li.MsoListBullet2, div.MsoListBullet2 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoListBullet3, li.MsoListBullet3, div.MsoListBullet3 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.75in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoListBullet4, li.MsoListBullet4, div.MsoListBullet4 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.0in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman"; }
p.MsoListBullet5, li.MsoListBullet5, div.MsoListBullet5
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListNumber2, li.MsoListNumber2, div.MsoListNumber2
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListNumber3, li.MsoListNumber3, div.MsoListNumber3
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.75in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListNumber4, li.MsoListNumber4, div.MsoListNumber4
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.0in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoListNumber5, li.MsoListNumber5, div.MsoListNumber5
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	localeRef:mnuTtl;
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}
p.MsoClosing, li.MsoClosing, div.MsoClosing
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:3.0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoSignature, li.MsoSignature, div.MsoSignature
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:3.0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{
	localeRef:mnuBT;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListContinue, li.MsoListContinue, div.MsoListContinue
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListContinue2, li.MsoListContinue2, div.MsoListContinue2
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListContinue3, li.MsoListContinue3, div.MsoListContinue3
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.75in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListContinue4, li.MsoListContinue4, div.MsoListContinue4
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:1.0in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoListContinue5, li.MsoListContinue5, div.MsoListContinue5
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:1.25in;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoMessageHeader, li.MsoMessageHeader, div.MsoMessageHeader
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.75in;
	margin-bottom:.0001pt;
	text-indent:-.75in;
	background:#CCCCCC;
	border:none;
	padding:0in;
	font-size:12.0pt;
	font-family:Arial;}
p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
	{
	localeRef:mnuSttl;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:12.0pt;
	font-family:Arial;}
p.MsoSalutation, li.MsoSalutation, div.MsoSalutation
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoDate, li.MsoDate, div.MsoDate {
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoBodyTextFirstIndent, li.MsoBodyTextFirstIndent, div.MsoBodyTextFirstIndent {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	text-indent:10.5pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoBodyTextFirstIndent2, li.MsoBodyTextFirstIndent2, div.MsoBodyTextFirstIndent2 {
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	text-indent:10.5pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoNoteHeading, li.MsoNoteHeading, div.MsoNoteHeading
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:200%;
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:8.0pt;
	font-family:"Times New Roman";}
p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	line-height:200%;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoBodyTextIndent3, li.MsoBodyTextIndent3, div.MsoBodyTextIndent3
	{
	visible:false;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	font-size:8.0pt;
	font-family:"Times New Roman";}
p.MsoBlockText, li.MsoBlockText, div.MsoBlockText
	{
	visible:false;
	margin-top:0in;
	margin-right:1.0in;
	margin-bottom:6.0pt;
	margin-left:1.0in;
	font-size:10.0pt;
	font-family:"Times New Roman";}
 span.MsoHyperlink
	{
	visible:false;
	color:blue;
	text-decoration:underline;
	text-underline:single;}
 span.MsoHyperlinkFollowed
	{
	visible:false;
	color:purple;
	text-decoration:underline;
	text-underline:single;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	background:navy;
	font-size:10.0pt;
	font-family:Tahoma;}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{
	localeRef:mnuPlainT;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Courier New";}
p.MsoAutoSig, li.MsoAutoSig, div.MsoAutoSig
	{
	visible:false;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
address
	{margin:0in;
	margin-bottom:.0001pt;
	}
pre
	{margin:0in;
	margin-bottom:.0001pt;
	}
p.H4, li.H4, div.H4
	{
	visible:false;
	mso-style-name:H4;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:20.0pt;
	}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.Section1
	{
	visible:false;
	page:Section1;}
